<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Todo List</title>
  <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-dark bg-primary">
      <a href="/" class="navbar-brand">Todo List</a>
      <a href="/todos/new" class="btn btn-primary btn-outline-light">Create</a>
    </nav>
  </header>
  <main>
    <div class="container mt-5">
      {{{body}}}
    </div>
  </main>

  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.js"></script>
</body>

</html>