<form action="/todos/{{{todo.id}}}/edit" method="POST">
  <input type="checkbox" name="done" id="done" {{#if this.done}}checked{{/if}}>
  <input type="text" value="{{{todo.name}}}" name="name" placeholder="name">
  <button type="submit">Edit</button>
</form>