<h1>Todo List</h1>

<a href="/todos/new">create</a>

<ul>
  {{#each todos}}
  <li>
    {{{this.name}}}
    <a href="/todos/{{{this.id}}}">view</a>
    <a href="">edit</a>
    <button>delete</button>
  </li>
  {{/each}}
</ul>