<h1>Todo List</h1>

<a href="/todos/new">create</a>

<ul>
  {{#each todos}}
  <li>
    {{{this.name}}}
    <a href="/todos/{{{this.id}}}">view</a>
    <a href="/todos/{{{this.id}}}/edit">edit</a>
    <form action="/todos/{{{this.id}}}/delete" method="POST" style="display:inline;">
      <button type="submit">delete</button>
    </form>

  </li>
  {{/each}}
</ul>